/* ==================== General ==================== */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

hr {
  width: 80%;
  border-style: groove;
  margin: auto;
  margin-top: 20px;
  color: rgb(129, 129, 129);
}

h2 {
  font-weight: 400;
}

.btn-round {
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
  border: 1px solid rgb(209, 3, 3);
  padding: 13px 30px;
  margin: 1rem 0;
}

.btn-red {
  background-color: rgb(209, 3, 3);
  color: whitesmoke;
}

.btn-transp {
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
}

.btn-small-size {
  padding: 7px 15px;
  font-size: 10px;
  font-weight: bold;
}

.btn-mid-size {
  padding: 7px 30px;
  font-size: 15px;
  font-weight: bold;
  font-weight: 500;
  margin-bottom: 0;
}

.inner-container {
  width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.text-box {
  text-align: justify;
  /* padding-right: 30px; */
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 2rem;
}

/* ==================== header ==================== */

.header {
  height: auto;
  width: 100%;
  position: relative;
}

.header i {
  margin: 5px;
  font-size: 13px;
  color: rgb(100, 100, 100);
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0 8rem 1rem;
  justify-content: space-between;
  align-items: flex-end;
}

.social-media {
  margin-right: 2rem;
  display: inline-block;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px;
  position: relative;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(209, 3, 3);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
}

/* ========== Slider ========== */

.slider {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./src/img/covid_shot3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  /* position: relative; */
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  top: 9rem;
}

.carousel-element {
  color: white;
  /* margin-bottom: 2rem; */
}

.carousel-element div {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

.carousel-element h1 {
  font-size: 50px;
}

.carousel-element h2 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 5px;
  /* -webkit-tap-highlight-color: black; */
}

.carousel-element h2 mark {
  background-color: black;
  color: white;
}

.carousel-element h3 {
  /* font-size: 40px; */
  font-weight: 400;
}

.carousel-list {
  text-align: center;
  overflow: hidden;
}

.glider-next,
.glider-prev {
  color: white;
}

.carousel-index {
  position: relative;
  top: 8rem;
}

.carousel-index .glider-dot {
  display: block;
  background: black;
  border: 1px solid white;
}

.carousel-index .glider-dot.active {
  background: red;
}

/* ========== About ========== */

.about {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.about .section-titles {
  justify-content: flex-start;
}

.text-box h1 {
  margin: 0;
}

.text-box h1.red {
  color: brown;
}

.text-box h2 {
  font-size: 18px;
  margin: 0;
}

.text-box p {
  font-size: 15px;
}

.section-titles {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.img-container img {
  width: 400px;
  margin-left: 2rem;
}

/* ==================== Services ====================*/

.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services .flex-container {
  justify-content: space-around;
}

.service.flex-container {
  margin-top: 1rem;
}

.service div {
  background-color: rgb(158, 158, 158);
  height: 43px;
  width: 300px;
  text-align: left;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 14px;
}

.flex-container .service h1 {
  font-weight: 400;
  font-size: 22px;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  grid-gap: 10px 100px;
  list-style: none;
  text-align: left;
} 

.grid-container li {
  display: inline-block;
}
.grid-container div {
  display: inline-block;
  margin: auto;
  padding-left: 15px;
  margin-bottom: 5px;
} */

/* .arrow{
    width: 18%;
    height: 50px;
} */

/* .grid-container li:nth-child(1) {
   grid-column: 1/5;
   grid-row: 1;
} */

/* .grid-container img {
  height: 50px;
  width: 50px;
} */

/*.grid-container li:nth-child(2n+1){
     height: 50px;
    width: 50px; */
/* background:blue; 
}*/

/*.grid-container li:nth-child(2n+2){
     grid-column-start: span 1; 
    height: 50px;
    width: 50px;
    background: red; 
}*/

/* .grid-container .popular-image{
    height: auto;
} */

/* ==================== Join Us ==================== */

.join {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./src/img/covid_shot2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 85%;
  margin: auto;
  margin-bottom: 4rem;
  height: 300px;
  text-align: center;
  position: relative;
}

.join-text-box {
  margin: 0 2rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.join h1 {
  color: white;
  margin: 1rem;
}

.join p {
  color: white;
}

/* ==================== Influencers ==================== */

.influencers {
  width: 80%;
  margin: auto;
  /* justify-content: center; */
}

.influencers button {
  margin: 0;
}

.dept {
  border: solid 1px rgb(221, 221, 221);
  margin: 1rem;
  padding: 0;
}

.dept img {
  width: 100%;
}

.dept div {
  margin: 10% 5%;
}

.dept h3 {
  margin: 0;
  color: rgb(194, 34, 34);
}

.dept p {
  margin: 0;
  color: rgb(53, 53, 53);
  font-size: 15px;
}

/* ==================== Testimonials ==================== */

.testimonials {
  background-color: rgb(243, 251, 255);
  height: auto;
  margin-top: 3rem;
}

.testimonials .text-box {
  padding-top: 3rem;
  /* margin-bottom: 0; */
}

.testimonials .carousel-container {
  top: 0;
}

.testimonials i {
  color: rgb(180, 180, 180);
}

.carousel-element img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonials .carousel-element div {
  width: 80%;
  margin-bottom: 0.5rem;
}

.carousel-element p {
  font-style: italic;
  color: rgb(88, 88, 88);
  display: flex;
  position: relative;
}

.carousel-element .fa {
  position: absolute;
  left: 0;
}

.testimonials .carousel-element h3 {
  color: rgb(88, 88, 88);
  display: inline-block;
}

.testimonials .glider-next,
.testimonials .glider-prev {
  color: rgb(180, 180, 180);
  font-size: 25px;
}

.testimonials .glider-next {
  right: calc(50% - 150px);
  top: 3rem;
}

.testimonials .glider-prev {
  left: calc(50% - 150px);
  top: 3rem;
}

.testimonials .carousel-index {
  position: relative;
  top: 0;
  padding: 1rem;
}

/* ==================== quick links ==================== */

.quick-links {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./src/img/covid_shot.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
  color: whitesmoke;
  margin: 0;
}

.quick-links .flex-container {
  width: 80%;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
}

.sibilings {
  display: inline-block;
}

.address {
  vertical-align: top;
  margin-top: 5px;
}

.contact h1 {
  font-weight: 500;
}

.contact i {
  margin-right: 7px;
}

.cluster {
  margin: 1rem;
}

.links h1 {
  font-weight: 500;
}

.links ul {
  list-style: none;
  font-size: 15px;
}

.links li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(158, 158, 158); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 20px;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.5em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  height: 1em;
}

.links a {
  color: whitesmoke;
  text-decoration: none;
}

.newsletter form {
  padding-top: 1rem;
}

.newsletter h1 {
  font-weight: 500;
}

.newsletter input,
.newsletter textarea {
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid gray;
  border-radius: 5px;
}

.message {
  margin-top: 5px;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
}

/* ==================== Footer ==================== */

.footer {
  background-color: rgb(204, 204, 204);
  height: auto;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(83, 83, 83);
}

.footer i {
  color: rgb(83, 83, 83);
  font-size: 20px;
  /* padding: 10px 0 10px 0; */
}

.footer .social-media {
  margin-bottom: 10px;
  margin-right: 0;
}

.footer p {
  font-size: 12px;
}

/* ---- ---- Responsive Adjustments ---- ---- */

@media (max-width: 950px) {

    nav{
        margin: 1rem;
        padding: 0;
    }

  .carousel-container {
    top: 1rem;
  }

  .carousel-index {
    top: 0;
  }

  .slider {
      height: auto;
  }

  .img-container img {
    width: 100%;
    margin: 0.2rem;
  }

  .about,
  .influencers > .flex-container,
  .quick-links div.flex-container,
  .services > .flex-container {
    flex-direction: column;
  }

  .cluster > .sibilings{
      display: block;
  }

  .services .flex-container {
    justify-content: center;
  }

  .flex-container .service h1 {
    font-weight: 500;
    font-size: 19px;
  }

  .join h1 {
    font-size: 20px;
  }

  .join p {
    font-size: 15px;
  }

  .contact,
  .links,
  .newsletter {
    margin-bottom: 2rem;
  }

  .quick-links .flex-container {
    align-items: start;
  }
}
